@use "sass:map";
@use "../abstracts/" as *;

.accordion {
  display: flex;
  flex-direction: column;
  gap: rem(10) 0;

  @media (min-width: map.get($breakpoints, "768")) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(22) rem(20);
  }

  &__item {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    max-height: rem(60);
    transition: max-height 0.3s ease;

    @media (min-width: map.get($breakpoints, "768")) {
      flex: 0 1 calc(50% - rem(10));
      max-height: rem(260);

      &:hover {
        .accordion__content {
          top: 0;
        }

        .accordion__header {
          margin-bottom: rem(20);
        }
      }
    }

    &_active {
      max-height: rem(240);
    }
  }

  &__item-bg {
    height: rem(240);
    background-position: 50%;
    background-size: cover;
    background-blend-mode: multiply;

    @media (min-width: map.get($breakpoints, "768")) {
      height: rem(260);
    }

    &_image_1 {
      background-image: url("../assets/images/business/accordion-image1.png");
    }

    &_image_2 {
      background-image: url("../assets/images/business/accordion-image2.png");
    }

    &_image_3 {
      background-image: url("../assets/images/business/accordion-image3.png");
    }

    &_image_4 {
      background-image: url("../assets/images/business/accordion-image4.png");
    }

    &_image_5 {
      background-image: url("../assets/images/business/accordion-image5.png");
    }

    &_image_6 {
      background-image: url("../assets/images/business/accordion-image6.png");
    }
  }

  &__content {
    padding: rem(10) rem(15) rem(10) rem(10);
    position: relative;
    height: 100%;
    background-color: rgba(map.get($colors, "dark-blue"), 0.6);
    transition: top 0.3s ease;

    @media (min-width: map.get($breakpoints, "768")) {
      position: relative;
      top: rem(180);
      padding: rem(28) rem(20);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(10);
    min-height: rem(40);
    transition: margin 0.3s ease;
    gap: 0 rem(15);

    @media (min-width: map.get($breakpoints, "768")) {
      margin-bottom: rem(28);
      min-height: auto;
    }

    &_active {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: map.get($font-weight, "semibold");
    font-size: rem(20);
    color: map.get($colors, "white");

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(24);
    }
  }

  &__arrow-icon {
    background: url("../assets/images/arrow-down.svg") center/100% 100% no-repeat;
    width: rem(15);
    height: rem(8);
    transition: transform 0.3s ease;

    @media (min-width: map.get($breakpoints, "768")) {
      display: none;
    }

    &_active {
      transform: rotate(180deg);
    }
  }

  &__item-description {
    font-size: rem(16);
    color: map.get($colors, "white");
    line-height: 140%;

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(17);
    }
  }
}
