@use "sass:map";
@use "../abstracts/" as *;

.business {
  margin-top: rem(50);

  @media (min-width: map.get($breakpoints, "992")) {
    margin-top: rem(100);
  }

  &__title {
    font-weight: map.get($font-weight, "semibold");
    font-size: rem(28);
    text-align: center;
    color: map.get($colors, "dark-gray");
    margin-bottom: rem(15);

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(56);
      margin-bottom: rem(55);
    }
  }
}
