@use "sass:map";
@use "../abstracts/" as *;

.hero {
  margin-top: rem(27);

  @media (min-width: map.get($breakpoints, "992")) {
    margin-top: rem(79);
  }

  &__title {
    font-size: rem(28);
    font-weight: map.get($font-weight, "semibold");
    white-space: nowrap;
    color: map.get($colors, "red-2");
    text-align: left;
    margin-bottom: rem(10);
    line-height: 120%;

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(56);
      font-weight: map.get($font-weight, "bold");
      text-align: center;
      margin-bottom: rem(30);
    }
  }

  &__description {
    font-size: rem(16);
    line-height: 120%;
    color: map.get($colors, "dark-gray");
    margin-bottom: rem(47);

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(32);
      text-align: center;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: rem(21) rem(4);

    @media (min-width: map.get($breakpoints, "992")) {
      display: none;
    }
  }
}
