@use "sass:map";
@use "../abstracts/" as *;

.life {
  margin: rem(50) 0;

  @media (min-width: map.get($breakpoints, "992")) {
    margin: rem(100) 0 rem(67) 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: map.get($font-weight, "semibold");
    color: map.get($colors, "dark-gray");
    font-size: rem(28);
    margin-bottom: rem(15);

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(56);
      margin-bottom: rem(58);
    }
  }
}
