@use "sass:map";
@use "../abstracts/" as *;

.menu {
  position: relative;
  transition: opacity 0.3s ease;

  &_inactive {
    pointer-events: none;
    opacity: 0.1;
    user-select: none;
    cursor: default;
  }

  &__list {
    display: flex;
    align-items: start;
    gap: rem(16);
    overflow: auto;
    padding-bottom: rem(20);

    @media (min-width: map.get($breakpoints, "992")) {
      gap: rem(30);
      padding-bottom: rem(32);
    }
  }

  &__item {
    color: map.get($colors, "dark-gray");
    font-weight: map.get($font-weight, "semibold");
    font-size: rem(14);
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap;

    &:hover {
      color: map.get($colors, "red-1");
    }

    @media (min-width: map.get($breakpoints, "992")) {
      font-size: rem(18);
      line-height: 111%;
    }

    &_active {
      color: map.get($colors, "red-1");
    }
  }

  &__indicator {
    position: absolute;
    bottom: 0;
    height: rem(3);
    background-color: map.get($colors, "red-1");
    transition: left 0.3s ease, width 0.3s ease;
  }
}
