@use "sass:map";
@use "../abstracts/" as *;

.stat {
  &__title {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: rem(4);
    font-size: rem(16);
    line-height: 150%;
    color: map.get($colors, "dark-gray");
  }

  &__value {
    display: flex;
    align-items: center;
    gap: rem(5);
    font-weight: map.get($font-weight, "semibold");
    font-size: rem(40);
    line-height: 80%;
    color: map.get($colors, "red-1");
    line-height: 80%;
  }

  &__symbol {
    font-size: rem(30);

    &_weight_black {
      font-weight: map.get($font-weight, "black");
    }
  }

  &:last-child .stat__title {
    line-height: 120%;
  }
}
