@use "sass:math";

$font-primary: "Proxima Nova Condensed";
$font-secondary: "Proxima Nova";
$font-serif: sans-serif;

$containerWidth: 1220;

$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

$font-weight: (
  "regular": 400,
  "semibold": 600,
  "bold": 700,
  "black": 900,
);

$breakpoints: (
  "768": 768px,
  "800": 800px,
  "992": 992px,
  "1280": 1280px,
);

$colors: (
  "white": #FFFFFF,
  "light-gray-2": #F0F0F0,
  "light-gray-3": #D9D9D9,
  "black": #000000,
  "dark-gray": #444444,
  "dark-blue": #2D3653,
  "red-1": #A30C33,
  "red-2": #B01736,
  "red-3": #CB0F41
);
