@use "sass:math";

$font-primary: "Proxima Nova Condensed";
$font-secondary: "Proxima Nova";
$font-serif: sans-serif;

$containerWidth: 1220;

$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

$font-weight: (
  "regular": 400,
  "semibold": 600,
  "bold": 700,
  "black": 900,
);

$breakpoints: (
  "768": 768px,
  "800": 800px,
  "992": 992px,
  "1280": 1280px,
);

$colors: (
  "white": #ffffff,
  "light-gray-2": #f0f0f0,
  "light-gray-3": #d9d9d9,
  "black": #000000,
  "dark-gray": #444444,
  "dark-blue": #2d3653,
  "red-1": #a30c33,
  "red-2": #b01736,
  "red-3": #cb0f41,
);
