@use "sass:map";
@use "../abstracts/" as *;

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 ($containerSidePadding + px);

  @media (min-width: map.get($breakpoints, "768")) {
    padding: 0;
  }
}

.inner-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;

  @media (min-width: map.get($breakpoints, "992")) {
    padding: 0 70px;
  }

  &_no-padding-desktop {
    @media (min-width: map.get($breakpoints, "992")) {
      padding: 0;
    }
  }

  &_no-padding-mobile {
    padding: 0;

    @media (min-width: map.get($breakpoints, "992")) {
      padding: 0 70px;
    }
  }
}
